[core]
	excludesfile = ~/.gitignore
[color]
	branch = true
	diff = true
	interactive = true
	pager = true
	status = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	defaultToUpstream = true
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[push]
	default = simple
[daemon]
	receivepack = true
